
.settingsPage .navHeader .searchContainer {
  display: none;
}

.settingsPage .navHeader .rightContainer {
  display: none;
}

.settingsPage .navHeader .brandLogo h1 {
  justify-content: center;
}

.settingsPage #settingsContainer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.settingsPage .settingsHeader {
  text-align: center;
  opacity: 0.2;
  font-size: 1rem;
  //justify-content: center;
}

.settingsPage .settings {
  //justify-content: center;
  //display: flex;
  //flex-direction: column;
  margin-top: 1.3rem;
  //text-align: center;
  width: 31rem;
  outline: 1px solid green;
  //display: flex;
  //flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.settingsPage .settings > div {
  margin-bottom: 2rem;
}

.settingsPage .settings .formplate .formplate-checkbox.checked:before {
  position: absolute;
  width: 100%;
  top: -1.5px;
}

.settingsPage .settings .formplate .formplate-checkbox.checked input {
  z-index: 50;
}

.settingsPage .prebrowsingSettingContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .prebrowsingSettingContainer .settingDetail {
  font-size: 0.65rem;
  padding: 0 1rem;
  width: 30rem;
}

.settingsPage .genTokenOuterContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .genTokenOuterContainer #tokenText {
  border-radius: 0;
  font-size: 16px;
}

.settingsPage .genTokenOuterContainer .settingDetail {
  font-size: 0.65rem;
  padding: 0 1rem;
  width: 30rem;
  margin-top: 0.5rem;
}

.settingsPage .genTokenContainer {
  display: flex;
}

.settingsPage .genTokenContainer .formplate {
  margin-left: 0.6rem;
  display: flex;
  flex-grow: 1;
}

.settingsPage .genTokenContainer .formplate input[type="text"] {
  margin-bottom: 0;
}

.settingsPage .genTokenContainer .button {
  align-items: center;
  display: flex;
}

.settingsPage .genTokenContainer #clipBoardButton img {
  width: 19px;
}


.settingsPage #formPlateFontHack {
  visibility: hidden;
}