extends layout
block vars
  - var bodyClass = 'settingsPage';
block content
  h1(style='margin-top:100px')  Settings
  form(style='margin-top:100px', action='/settings/generateJWTExtensionToken', method='POST')
    input(type="hidden", name="_csrf", value="#{csrfToken}")
    br
    input(type='submit', value='Generate Token')


script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/protip/protip.min.js')
  script(src='/js/settingsPage-bundle.js')