
.helpPage .navHeader .searchContainer {
  display: none;
}

.helpPage .navHeader .rightContainer {
  display: none;
}

.helpPage .navHeader .brandLogo a:hover {
  color: #77BBEB;
}
  
.helpPage .navHeader .brandLogo h1 {
  justify-content: center;
  cursor: default;
  font-weight: bold;
}