
//Nav header
.navHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navHeader nav {
  background-color: @paletteBlue;
  display: flex;
  flex: 1 1 4rem;
}

.navHeader .helpPageBackButtonContainer {
  display: none;
  align-items: center;
  margin-left: 6px;
}
.navHeader .helpPageBackButtonContainer:hover a {
  color: #2670A2;
}

.navHeader .brandLogo {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-family: 'exoregular';
}

.navHeader .brandLogo a {
  flex: 1 1 auto;
  color: @paletteTextColorLight;
  text-align: right;
  padding-right: 1rem;
  text-decoration: none;
}

.navHeader .brandLogo a h1{
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  text-rendering: geometricPrecision;
}

.navHeader .brandLogo a:hover{
  color: @paletteTextColorDarker;
}

.navHeader .searchContainer {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  flex: 2 2 auto;
  display: flex;
  border-top: 3px solid @paletteBlue;
  border-bottom: 3px solid @paletteBlue;
}

.navHeader #searchForm {
  flex: 1 1 auto;
  display: flex;
}

.navHeader #searchForm > input{
  flex: 1 1 auto;
  display: flex;
  font-size: 1.5rem;
  padding-left: 1rem;
    outline: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
}

.navHeader .rightContainer {
  flex: 2 1 auto;
  display: flex;
}

/***
* Material design icons in the header
*/
.navHeader .material-icons {
  font-size: 3rem;
  color: #77BBEB;
}

.navHeader .dateFilter {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  flex: 0 1 4rem;
  display: flex;
}

.navHeader .dateFilter a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.navHeader .addPage {
  flex: 0 1 4rem;
  display: flex;
}

.navHeader .addPage a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.navHeader .settings-etal {
  flex: 0 1 4rem;
  display: flex;
}

.navHeader .settings-etal a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  display: none;
}

/****
* Header Nav subBars
*/
.navHeader .subBar {
  background-color: @paletteGrey;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  box-shadow: 0px 15px 67px 0px rgba(0,0,0,0.64);
}

/****
* Date Filter
*/
.navHeader .dateFilterSettings {
  height: 50px;
  font-size: 1rem;
  color: #3498DB;
  align-items: center;
}

.navHeader .dateFilterSettings .formplate {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-right: 1px;
}

.navHeader .dateFilterSettings .formplate-select {
  display: flex;
  flex: 1 1 auto;
}

.navHeader .dateFilterSettings .formplate-select:hover {
  border: 1px solid #3498db;
}

.navHeader .dateFilterSettings .formplate-select select {
  font-size: 18px;
}
//http://stackoverflow.com/a/18853002/3458681
.navHeader .dateFilterSettings .formplate-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 @paletteBlue;
}

.navHeader .dateFilterSettings .fromToContainer {
  flex: 1 1 auto;
  display: flex;
  padding: 0.45rem 0;
}

.navHeader .dateFilterSettings .fromContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.navHeader .dateFilterSettings .fromContainer > span {
  display: flex;
  justify-content: center;
  width: 3.5rem;
}

.navHeader .dateFilterSettings .toContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.navHeader .dateFilterSettings .toContainer > span {
  display: flex;
  justify-content: space-around;
  width: 2.2rem;
}

.navHeader .dateFilterSettings .shortcutsContainer {
  display: flex;
  flex: 1 1 auto;
  padding: 0.45rem 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3498DB;
  margin-left: 0.5rem;
}

.navHeader .dateFilterSettings .shortcutsContainer .formplate {
  margin-left: 0.5rem;
}

/****
* Add Page Urls
*/
.navHeader .addPageUrls {
  flex: 1 1 auto;
  flex-direction: column;
}

.navHeader .addPageUrls textarea {
  display: flex;
  flex: 1 1 auto;
  font-size: 0.9rem;
  padding: 2rem;
  text-align: center;
  line-height: 1rem;
  outline: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  appearance: none;
}

.navHeader .addPageUrls textarea::placeholder {
  text-align: center;
}

.navHeader .addPageUrls .progressInfo {
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  padding: 2rem;
  justify-content: center;
  font-size: 1.1rem;
}

.navHeader .addPageUrls .failedUrlInfo {
  opacity: 0.6;
}

.navHeader .addPageUrls .progressInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navHeader .addPageUrls .addUrlsProgress {
  display: flex;
  background-color: #ECF0F1;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.navHeader .addPageUrls .addUrlsProgress .progressBar {
  display: flex;
  background: #F1C40F;
  width: 0;
}

.navHeader .addPageUrls .addUrlsProgress .errorOKbutton {
  display: flex;
  background: #F1C40F;
  width: 0;
  justify-content: center;
  align-items: center;
}

.navHeader .addPageUrls  .addUrlsProgress .errorOKbutton:hover {
  color: #2670A2;
  cursor: pointer;
}

.navHeader .addPageUrls .addPageButtons {
  display: flex;
  flex: 1 1 auto;
  color: white;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.navHeader .addPageUrls .urlSaveButton {
  flex: 1 1 auto;
  border: none;
  text-align: center;
  background-color: #3498DB;
}

.navHeader .addPageUrls .urlSaveButton:hover {
  color: #2670A2;
  cursor: pointer;
}

.navHeader .addPageUrls .urlCancelButton {
  flex: 1 1 auto;
  background-color: #34495E;
  border: none;
  text-align: center;
}

.navHeader .addPageUrls .urlCancelButton:hover {
  color: #77BBEB;
  cursor: pointer;
}


.navHeader .settingsAndHelp {
  flex: 1 1 auto;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.navHeader .settingsAndHelp .settingsLinkButton {
  flex: 1 1 auto;
  border: none;
  text-align: center;
  color: white;
  background-color: #F1C40F;
}

.navHeader .settingsAndHelp .settingsLinkButton:hover {
  color: #34495E;
  cursor: pointer;
}

.navHeader .settingsAndHelp .helpAboutLinkButton {
  flex: 1 1 auto;
  border: none;
  text-align: center;
  color: white;
  background-color: #34495E;
}

.navHeader .settingsAndHelp .helpAboutLinkButton:hover {
  color: #77BBEB;
  cursor: pointer;
}
