
.settingsPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 40px;
}

.settingsPage .navHeader .searchContainer {
  display: none;
}

.settingsPage .navHeader .rightContainer {
  display: none;
}

.settingsPage .navHeader .brandLogo a:hover {
  color: #77BBEB;
}

.settingsPage .navHeader .brandLogo h1 {
  justify-content: center;
  cursor: default;
  font-weight: bold;
}

.settingsPage .subBar .addPageUrls textarea{
  display: none;
}

.settingsPage .subBar .addPageUrls .progressInfo a {
  text-decoration: none;
  color: #3498DB;
}

.settingsPage .subBar .addPageUrls .progressInfo a:hover {
  color: #2670A2;
  text-decoration: none;
}

.settingsPage .subBar .addPageUrls .progressInfo .failedUrlInfo {
  opacity: 0.6;
}

.settingsPage .formplate * {
  border-radius: 0 !important;
  font-size: 0.775rem;
}

.settingsPage #settingsContainer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.settingsPage .settingsHeader {
  text-align: center;
  opacity: 0.2;
  font-size: 1rem;
  //justify-content: center;
}

.settingsPage .settings {
  //justify-content: center;
  //display: flex;
  //flex-direction: column;
  margin-top: 1.3rem;
  //text-align: center;
  width: 31rem;
  //outline: 1px solid green;
  //display: flex;
  //flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.settingsPage .settings > div {
  margin-bottom: 1.4rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77BBEB;
}

.settingsPage .settings > div:last-child {
  border-bottom: none;
}

.settingsPage .settings > div:nth-of-type(1) {
  margin-top:0.5rem;
  padding-top: 1.2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77BBEB;
}

.settingsPage .settings .button {
  background-color: #2670A2;
}

.settingsPage .settings .button:hover {
  background-color: #3498DB;
}

.settingsPage .settings .button.clipBoardButton {
  background-color: #e6e6e6;
}

.settingsPage .settings .clipBoardButton:hover {
  background-color: #f5f5f5;
}

.settingsPage .settings .settingDetail {
  font-size: 0.7rem;
  padding: 0 1rem;
  width: 30rem;
}

.settingsPage .settingDetail a {
  text-decoration: none;
  color: #3498DB;
}

.settingsPage .settingDetail a:hover {
  color: #2670A2;
  text-decoration: none;
}

.settingsPage .settings .formplate label {
  font-size: 1rem;
}

.settingsPage .settings .formplate .formplate-checkbox.checked:before {
  position: absolute;
  width: 100%;
  top: -1.5px;
}

.settingsPage .settings .formplate .formplate-checkbox.checked input {
  z-index: 50;
}

.settingsPage .settings .genTokenOuterContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.settingsPage .genTokenOuterContainer .browserTokenTitle {
  margin-bottom: 0.7rem;
}

.settingsPage .genTokenOuterContainer #browserAddonTokenButton {
  border-radius: 0;
  font-size: 0.8rem;
  border-radius: 0;
}

.settingsPage .genTokenOuterContainer .settingDetail {
  margin-top: 0.5rem;
}

.settingsPage .genTokenContainer {
  display: flex;
}

.settingsPage .genTokenContainer .formplate {
  margin-left: 0.6rem;
  display: flex;
  flex-grow: 1;
}

.settingsPage .genTokenContainer .formplate input[type="text"] {
  margin-bottom: 0;
}

.settingsPage .genTokenContainer .button {
  align-items: center;
  display: flex;
}

.settingsPage .genTokenContainer .clipBoardButton img {
  width: 19px;
}

.settingsPage .bookmarkletContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .bookmarkletContainer .bookmarkletTokenTitle {

}

.settingsPage .bookmarkletContainer .genTokenContainer {
  margin-top: 0.7rem;
}

.settingsPage .bookmarkletContainer .settingDetail {
  margin-top: 0.5rem;
}


.settingsPage .bookmarkletContainer .button {
  align-items: center;
  display: flex;
}

.settingsPage .bookmarkletContainer #bookmarkletButton, .settingsPage .bookmarkletContainer #emailBookmarkletButton {
  border-radius: 0;
  font-size: 0.8rem;
}

.settingsPage .bookmarkletContainer .formplate {
  margin-left: 0.6rem;
  display: flex;
  flex-grow: 1;
}

.settingsPage .bookmarkletContainer .formplate input[type="text"] {
  margin-bottom: 0;
}


.settingsPage .bookmarkletContainer .clipBoardButton img {
  width: 19px;
}


.settingsPage .prebrowsingSettingContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .dbLocationContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .dbLocationContainer .currentLocation {
  display: flex;
  flex-direction: column;
}

.settingsPage .dbLocationContainer .currentLocation .locationText {
  display: flex;
  color: #92C8EF;
  font-size: 0.9rem;
  padding: 0 1rem;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  font-family: Courier;
}

.settingsPage .dbLocationContainer .changeDBLocationButtonContainer {
  margin: 0.5rem 0;
}

.settingsPage .dbLocationContainer .changeDBLocationButtonContainer #changeDBLocationButton {
  align-items: center;
  display: flex;
  width: 7.1rem;
}

.settingsPage .dbLocationContainer .changeDBLocationButtonContainer #changeDBLocationInput {
  display: none;
}

.settingsPage .dbLocationContainer #dragAndDropContainer {
  display: flex;
  justify-content: center;
}

.settingsPage .dbLocationContainer #dragAndDropContainer #dragAndDrop {
  border: 10px dashed #ccc;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  color: #ccc;
}

.settingsPage .dbLocationContainer #dragAndDropContainer #dragAndDrop.dragHover {
  border: 10px dashed #A3A3A3;
  //border: 10px dashed red;
  color: white;
}

.settingsPage .revokeContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .revokeContainer .revokeButtonsContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .revokeContainer #revokeTokens {
  align-items: center;
  display: flex;
  width: 7.4rem;
  margin-top: 0.7rem;
}

.settingsPage .bookmarkExpiryContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings {
  display: flex;
  flex-direction: column;
}

.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(1) {
  margin-top: 0;
}

.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(2) {
  margin-top: 0.7rem;
}

.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(3) {
  margin-top: 0.2rem;
}

.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings #bookmarkExpiryEmail {
  margin-bottom: 0;
}

.settingsPage .importContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .importContainer .importButtonsContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .importContainer #importTextFileInput {
  display: none;
}

.settingsPage .importContainer #importHTMLFileInput {
  display: none;
}

.settingsPage .importContainer #importHTMLFileButton {
  align-items: center;
  display: flex;
  width: 11.5rem;
  margin-top: 0.7rem;
}

.settingsPage .importContainer #importTextFileButton {
  align-items: center;
  display: flex;
  width: 9rem;
  margin-top: 0.7rem;
}

.settingsPage .exportContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .exportContainer .exportButtonsContainer {
  display: flex;
  flex-direction: column;
}

.settingsPage .exportContainer #exportHTMLFileInput {
  display: none;
}

.settingsPage .exportContainer #exportTextFileInput {
  display: none;
}

.settingsPage .exportContainer #exportHTMLFileButton {
  align-items: center;
  display: flex;
  width: 13rem;
  margin-top: 0.7rem;
}

.settingsPage .exportContainer #exportTextFileButton {
  align-items: center;
  display: flex;
  width: 10rem;
  margin-top: 0.7rem;
}

.settingsPage .settingsSaveCancelButtons {
  //text-align: center;
  display: flex;
  flex: 1 1 auto;
  //color: #90C4E6;
  color: white;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  max-height: 50px;
  bottom: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.settingsPage .saveSettingsButton {
  //text-align: center;
  flex: 1 1 auto;
  border: none;
  text-align: center;
  //padding: 2px 0 3px 0;
  //border-right: 1px solid #2670A2;
  //outline: 1px solid #2670A2;
  //background-color: #F1C40F;
  background-color: #3498DB;
}

.settingsPage .saveSettingsButton:hover {
  color: #2670A2;
  cursor: pointer;
}

.settingsPage .cancelSettingsButton {
  //text-align: center;
  flex: 1 1 auto;
  background-color: #34495E;
  border: none;
  text-align: center;
  //padding: 2px 0 3px 0;
  //border-left: 1px solid #2670A2;
  //outline: 1px solid #2670A2;
}

.settingsPage .cancelSettingsButton:hover {
  color: #77BBEB;
  cursor: pointer;
}



.settingsPage #formPlateFontHack {
  visibility: hidden;
}