---
---

@import "{{ site.theme }}";

// @import url('https://fonts.googleapis.com/css?family=Exo');


.hide{
  display: none;
}

ul li {
  list-style-type: none;
}


#faq + ul li, #features + ul li {
  list-style-type: disc;
}


// .exofont {
//   font-family: 'Exo';
// }
