---
---

@import "{{ site.theme }}";

// @import url('https://fonts.googleapis.com/css?family=Exo');

@media all and (max-width: 560px) {
  ul ul {
    padding-left: 0;
  }
}

.hide{
  display: none;
}

ul li {
  list-style-type: none;
}


#faq + ul li, #features + ul li {
  list-style-type: disc;
}

#faq + ul ul {
    padding-left: 20px;
}

// .exofont {
//   font-family: 'Exo';
// }
