@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'), url(../fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}
/****
* http://google.github.io/material-design-icons/
*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/open-sans/opensans-regular.eot');
  src: url('../fonts/open-sans/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/opensans-regular.woff2') format('woff2'), url('../fonts/open-sans/opensans-regular.woff') format('woff'), url('../fonts/open-sans/opensans-regular.ttf') format('truetype'), url('../fonts/open-sans/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'exoregular';
  src: url('../fonts/exo/exo-regular.eot');
  src: url('../fonts/exo/exo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/exo/exo-regular.woff2') format('woff2'), url('../fonts/exo/exo-regular.svg#exoregular') format('svg'), url('../fonts/exo/exo-regular.woff') format('woff'), url('../fonts/exo/exo-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/****
* Colour palette from http://www.colorhunt.co/hot
* http://i.imgur.com/w1pPtl0.png
*/
html {
  font-size: 20px;
  line-height: 1.6;
  /****
  overflow-y: scroll; to force a scrollbar so as to prevent
  the page jumping because the width changes
  */
  overflow-y: scroll;
}
body {
  color: #444;
  font-family: "open_sansregular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  /*TIL browsers add default margins to body*/
  padding: 0;
}
/****
  Utilities
*/
.warning {
  color: #F1C40F !important;
}
.hide {
  display: none !important;
}
.hide-not-i {
  display: none;
}
.visibilityHidden {
  visibility: hidden !important;
}
.showFlex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.showBlock {
  display: block !important;
}
.flexWrapperColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.absolute {
  position: absolute !important;
}
.navBar-materialIcon-selected {
  color: #2670A2 !important;
}
.navBar-materialIcon-hover {
  color: #2670A2 !important;
}
.lightBlue {
  color: #90C4E6 !important;
}
.navHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navHeader nav {
  background-color: #3498DB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 4rem;
          flex: 1 1 4rem;
}
.navHeader .helpPageBackButtonContainer {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
}
.navHeader .helpPageBackButtonContainer:hover a {
  color: #2670A2;
}
.navHeader .brandLogo {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'exoregular';
}
.navHeader .brandLogo a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #77BBEB;
  text-align: right;
  padding-right: 1rem;
  text-decoration: none;
}
.navHeader .brandLogo a h1 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-rendering: geometricPrecision;
}
.navHeader .brandLogo a:hover {
  color: #2670A2;
}
.navHeader .searchContainer {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  -webkit-box-flex: 2;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 3px solid #3498DB;
  border-bottom: 3px solid #3498DB;
}
.navHeader #searchForm {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navHeader #searchForm > input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  padding-left: 1rem;
  outline: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.navHeader .rightContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/***
* Material design icons in the header
*/
.navHeader .material-icons {
  font-size: 3rem;
  color: #77BBEB;
}
.navHeader .dateFilter {
  /****
  * Element is both a flex item for it's parent container,
  * and a flex container itself for it's child element
  */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4rem;
          flex: 0 1 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navHeader .dateFilter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
}
.navHeader .addPage {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4rem;
          flex: 0 1 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navHeader .addPage a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
}
.navHeader .settings-etal {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4rem;
          flex: 0 1 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navHeader .settings-etal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  display: none;
}
/****
* Header Nav subBars
*/
.navHeader .subBar {
  background-color: #ECF0F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  box-shadow: 0px 15px 67px 0px rgba(0, 0, 0, 0.64);
}
/****
* Date Filter
*/
.navHeader .dateFilterSettings {
  height: 50px;
  font-size: 1rem;
  color: #3498DB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navHeader .dateFilterSettings .formplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 1px;
}
.navHeader .dateFilterSettings .formplate-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.navHeader .dateFilterSettings .formplate-select:hover {
  border: 1px solid #3498db;
}
.navHeader .dateFilterSettings .formplate-select select {
  font-size: 18px;
}
.navHeader .dateFilterSettings .formplate-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #3498DB;
}
.navHeader .dateFilterSettings .fromToContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.45rem 0;
}
.navHeader .dateFilterSettings .fromContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navHeader .dateFilterSettings .fromContainer > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.5rem;
}
.navHeader .dateFilterSettings .toContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navHeader .dateFilterSettings .toContainer > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 2.2rem;
}
.navHeader .dateFilterSettings .shortcutsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.45rem 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3498DB;
  margin-left: 0.5rem;
}
.navHeader .dateFilterSettings .shortcutsContainer .formplate {
  margin-left: 0.5rem;
}
/****
* Add Page Urls
*/
.navHeader .addPageUrls {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navHeader .addPageUrls textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.9rem;
  padding: 2rem;
  text-align: center;
  line-height: 1rem;
  outline: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.navHeader .addPageUrls textarea::-webkit-input-placeholder {
  text-align: center;
}
.navHeader .addPageUrls textarea::-moz-placeholder {
  text-align: center;
}
.navHeader .addPageUrls textarea:-ms-input-placeholder {
  text-align: center;
}
.navHeader .addPageUrls textarea::placeholder {
  text-align: center;
}
.navHeader .addPageUrls .progressInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}
.navHeader .addPageUrls .failedUrlInfo {
  opacity: 0.6;
}
.navHeader .addPageUrls .progressInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navHeader .addPageUrls .addUrlsProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ECF0F1;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
.navHeader .addPageUrls .addUrlsProgress .progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1C40F;
  width: 0;
}
.navHeader .addPageUrls .addUrlsProgress .errorOKbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1C40F;
  width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navHeader .addPageUrls .addUrlsProgress .errorOKbutton:hover {
  color: #2670A2;
  cursor: pointer;
}
.navHeader .addPageUrls .addPageButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
.navHeader .addPageUrls .urlSaveButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  text-align: center;
  background-color: #3498DB;
}
.navHeader .addPageUrls .urlSaveButton:hover {
  color: #2670A2;
  cursor: pointer;
}
.navHeader .addPageUrls .urlCancelButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #34495E;
  border: none;
  text-align: center;
}
.navHeader .addPageUrls .urlCancelButton:hover {
  color: #77BBEB;
  cursor: pointer;
}
.navHeader .settingsAndHelp {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
.navHeader .settingsAndHelp .settingsLinkButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  text-align: center;
  color: white;
  background-color: #F1C40F;
}
.navHeader .settingsAndHelp .settingsLinkButton:hover {
  color: #34495E;
  cursor: pointer;
}
.navHeader .settingsAndHelp .helpAboutLinkButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  text-align: center;
  color: white;
  background-color: #34495E;
}
.navHeader .settingsAndHelp .helpAboutLinkButton:hover {
  color: #77BBEB;
  cursor: pointer;
}
/****
* Index/Search page
****/
.searchPage #resultsOuterContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
  -webkit-transform: translateZ(0);
}
.searchPage #resultsContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44rem;
          flex: 0 1 44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5rem;
}
.searchPage #resultsCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -1rem;
  opacity: 0.2;
}
.searchPage .result {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchPage .result a {
  text-decoration: none;
  color: #3498DB;
}
.searchPage .result a:hover {
  text-decoration: underline;
}
.searchPage .mainDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/****
 Make super long words/urls break and not overflow
*/
.searchPage .mainDetails * {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.searchPage .mainResultLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.searchPage .mainResultLink.warning {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.searchPage .mainResultLink {
  font-size: 1.2rem;
  line-height: 1;
}
.searchPage .mainResultLink a:hover {
  color: #2670A2;
  text-decoration: none;
}
.searchPage .mainResultLink .material-icons {
  position: relative;
  top: -0.4rem;
}
.searchPage .mainResultLink .material-icons:hover {
  cursor: default;
}
.searchPage .resultUrlText {
  color: #92C8EF;
  font-size: 0.7rem;
}
.searchPage .description {
  font-size: 0.93rem;
  margin: 0;
}
.searchPage .description .searchHighlight {
  color: #BE3D3D;
}
.searchPage .description strong {
  color: #2670A2;
}
.searchPage .safeBrowsing {
  color: #F1C40F;
  font-size: 0.8rem;
  margin: 0.1rem 0;
}
.searchPage .safeBrowsing > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.searchPage .safeBrowsing > div:nth-child(n+2) {
  margin-top: 0.4rem;
}
.searchPage .safeBrowsing a {
  color: inherit;
}
.searchPage .safeBrowsing .material-icons {
  margin-right: 0.4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.searchPage .safeBrowsingBriefDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchPage .safeBrowsingBriefDescription > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.searchPage .safeBrowsingBriefDescription > a:hover {
  text-decoration: none;
}
.searchPage .safeBrowsingExplination {
  display: none;
  margin-left: 1.6rem;
}
.searchPage .safeBrowsingExplination a {
  color: #2670A2;
}
.searchPage .googleAdvisory {
  font-size: 0.6rem;
}
.searchPage .metaIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.searchPage .metaIcons {
  color: #ECF0F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchPage .metaIcons a {
  color: inherit;
}
.searchPage .metaIcons a:hover {
  text-decoration: none;
  color: #77BBEB;
}
#formplateFontHack {
  visibility: hidden !important;
}
.settingsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}
.settingsPage .navHeader .searchContainer {
  display: none;
}
.settingsPage .navHeader .rightContainer {
  display: none;
}
.settingsPage .navHeader .brandLogo a:hover {
  color: #77BBEB;
}
.settingsPage .navHeader .brandLogo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  font-weight: bold;
}
.settingsPage .subBar .addPageUrls textarea {
  display: none;
}
.settingsPage .subBar .addPageUrls .progressInfo a {
  text-decoration: none;
  color: #3498DB;
}
.settingsPage .subBar .addPageUrls .progressInfo a:hover {
  color: #2670A2;
  text-decoration: none;
}
.settingsPage .subBar .addPageUrls .progressInfo .failedUrlInfo {
  opacity: 0.6;
}
.settingsPage .formplate * {
  border-radius: 0 !important;
  font-size: 0.775rem;
}
.settingsPage .formplate label {
  color: #444;
}
.settingsPage #settingsContainer {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.settingsPage .settingsHeader {
  text-align: center;
  opacity: 0.2;
  font-size: 1rem;
}
.settingsPage .settings {
  margin-top: 1.3rem;
  width: 31rem;
  margin-left: auto;
  margin-right: auto;
}
.settingsPage .settings > div {
  margin-bottom: 1.4rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77BBEB;
}
.settingsPage .settings > div:last-child {
  border-bottom: none;
}
.settingsPage .settings > div:nth-of-type(1) {
  margin-top: 0.5rem;
  padding-top: 1.2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77BBEB;
}
.settingsPage .settings .button {
  background-color: #2670A2;
  font-size: 0.865rem;
}
.settingsPage .settings .button:hover {
  background-color: #3498DB;
}
.settingsPage .settings .button.clipBoardButton {
  background-color: #e6e6e6;
}
.settingsPage .settings .clipBoardButton:hover {
  background-color: #f5f5f5;
}
.settingsPage .settings .settingDetail {
  font-size: 0.7rem;
  padding: 0 1rem;
  width: 30rem;
}
.settingsPage .settingDetail a {
  text-decoration: none;
  color: #3498DB;
}
.settingsPage .settingDetail a:hover {
  color: #2670A2;
  text-decoration: none;
}
.settingsPage .settings .formplate label {
  font-size: 1rem;
}
.settingsPage .settings .formplate .formplate-checkbox.checked:before {
  position: absolute;
  width: 100%;
  top: -1.5px;
}
.settingsPage .settings .formplate .formplate-checkbox.checked input {
  z-index: 50;
}
.settingsPage .settings .genTokenOuterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.1rem;
}
.settingsPage .genTokenOuterContainer .browserTokenTitle {
  margin-bottom: 0.7rem;
}
.settingsPage .genTokenOuterContainer #browserAddonTokenButton {
  border-radius: 0;
}
.settingsPage .genTokenOuterContainer .settingDetail {
  margin-top: 0.5rem;
}
.settingsPage .genTokenContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.settingsPage .genTokenContainer .formplate {
  margin-left: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.settingsPage .genTokenContainer .formplate input[type="text"] {
  margin-bottom: 0;
}
.settingsPage .genTokenContainer .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.settingsPage .genTokenContainer .clipBoardButton img {
  width: 19px;
}
.settingsPage .bookmarkletContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .bookmarkletContainer .genTokenContainer {
  margin-top: 0.7rem;
}
.settingsPage .bookmarkletContainer .settingDetail {
  margin-top: 0.5rem;
}
.settingsPage .bookmarkletContainer .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.settingsPage .bookmarkletContainer #bookmarkletButton,
.settingsPage .bookmarkletContainer #emailBookmarkletButton {
  border-radius: 0;
  font-size: 0.8rem;
}
.settingsPage .bookmarkletContainer .formplate {
  margin-left: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.settingsPage .bookmarkletContainer .formplate input[type="text"] {
  margin-bottom: 0;
}
.settingsPage .bookmarkletContainer .clipBoardButton img {
  width: 19px;
}
.settingsPage .prebrowsingSettingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .dbLocationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .dbLocationContainer .currentLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .dbLocationContainer .currentLocation .locationText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #92C8EF;
  font-size: 0.9rem;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  font-family: Courier;
}
.settingsPage .dbLocationContainer .changeDBLocationButtonContainer {
  margin: 0.5rem 0;
}
.settingsPage .dbLocationContainer .changeDBLocationButtonContainer #changeDBLocationButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.1rem;
}
.settingsPage .dbLocationContainer .changeDBLocationButtonContainer #changeDBLocationInput {
  display: none;
}
.settingsPage .dbLocationContainer #dragAndDropContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.settingsPage .dbLocationContainer #dragAndDropContainer #dragAndDrop {
  border: 10px dashed #ccc;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 12rem;
  color: #ccc;
}
.settingsPage .dbLocationContainer #dragAndDropContainer #dragAndDrop.dragHover {
  border: 10px dashed #A3A3A3;
  color: white;
}
.settingsPage .revokeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .revokeContainer .revokeButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .revokeContainer #revokeTokens {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.4rem;
  margin-top: 0.7rem;
}
.settingsPage .bookmarkExpiryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(1) {
  margin-top: 0;
}
.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(2) {
  margin-top: 0.7rem;
}
.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings > div:nth-of-type(3) {
  margin-top: 0.2rem;
}
.settingsPage .bookmarkExpiryContainer .bookmarkExpirySettings #bookmarkExpiryEmail {
  margin-bottom: 0;
}
.settingsPage .trayIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .trayIconContainer .trayIconSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .trayIconContainer .trayIconSettings > div:nth-of-type(1) {
  margin-top: 0;
}
.settingsPage .trayIconContainer .trayIconSettings > div:nth-of-type(2) {
  margin-top: 0.7rem;
}
.settingsPage .importContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .importContainer .importButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .importContainer #importTextFileInput {
  display: none;
}
.settingsPage .importContainer #importHTMLFileInput {
  display: none;
}
.settingsPage .importContainer #importHTMLFileButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11.5rem;
  margin-top: 0.7rem;
}
.settingsPage .importContainer #importTextFileButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9rem;
  margin-top: 0.7rem;
}
.settingsPage .exportContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .exportContainer .exportButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.settingsPage .exportContainer #exportHTMLFileInput {
  display: none;
}
.settingsPage .exportContainer #exportTextFileInput {
  display: none;
}
.settingsPage .exportContainer #exportHTMLFileButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13rem;
  margin-top: 0.7rem;
}
.settingsPage .exportContainer #exportTextFileButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  margin-top: 0.7rem;
}
.settingsPage .settingsSaveCancelButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  max-height: 50px;
  bottom: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.settingsPage .saveSettingsButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  text-align: center;
  background-color: #3498DB;
}
.settingsPage .saveSettingsButton:hover {
  color: #2670A2;
  cursor: pointer;
}
.settingsPage .cancelSettingsButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #34495E;
  border: none;
  text-align: center;
}
.settingsPage .cancelSettingsButton:hover {
  color: #77BBEB;
  cursor: pointer;
}
.settingsPage #formPlateFontHack {
  visibility: hidden;
}
.bookmarkletPage .navHeader .searchContainer {
  display: none;
}
.bookmarkletPage .navHeader .rightContainer {
  display: none;
}
.bookmarkletPage .navHeader .brandLogo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.bookmarkletPage .navHeader .brandLogo .brandLogoSmall {
  display: none;
}
.bookmarkletPage #bookmarkletPageContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.bookmarkletPage #bookmarkletPageContainer a {
  text-decoration: none;
  color: #3498DB;
}
.bookmarkletPage #bookmarkletPageContainer a:hover {
  color: #2670A2;
  text-decoration: none;
}
.errorPage .navHeader .searchContainer {
  display: none !important;
}
.errorPage .navHeader nav {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}
.errorPage .navHeader .rightContainer {
  display: none !important;
}
.errorPage .navHeader .brandLogo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.errorPage .navHeader .brandLogo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.errorPage .navHeader .brandLogo .brandLogoLarge {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.errorPage .navHeader .brandLogo .brandLogoSmall {
  display: none !important;
}
.errorPage .errorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.removeOldBookmarksPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}
.removeOldBookmarksPage .navHeader .searchContainer {
  display: none;
}
.removeOldBookmarksPage .navHeader .rightContainer {
  display: none;
}
.removeOldBookmarksPage .navHeader .brandLogo a:hover {
  color: #77BBEB;
}
.removeOldBookmarksPage .navHeader .brandLogo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.removeOldBookmarksPage .navHeader .brandLogo .brandLogoSmall {
  display: none;
}
.removeOldBookmarksPage .removeBookmarksContainer {
  margin-top: 6.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.removeOldBookmarksPage #rowsUl {
  list-style-type: none;
  max-width: 80%;
}
.removeOldBookmarksPage #rowsUl li {
  margin-bottom: 1.5rem;
}
.removeOldBookmarksPage .bookmarkDetailsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.removeOldBookmarksPage .bookmarkDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.removeOldBookmarksPage .bookmarkDetails a {
  text-decoration: none;
  color: #3498DB;
}
.removeOldBookmarksPage .bookmarkDetails a:hover {
  color: #2670A2;
  text-decoration: none;
}
.removeOldBookmarksPage .bookmarkPageUrl {
  color: #92C8EF;
  font-size: 0.7em;
}
.removeOldBookmarksPage .dateCreated {
  font-size: 0.7em;
  opacity: 0.6;
  color: #7A7A7A;
}
.removeOldBookmarksPage .deleteBookmarkButtonContainer {
  margin-right: 1rem;
  margin-top: 0.3rem;
}
.removeOldBookmarksPage .deleteBookmarkButtonContainer .deleteBookmarkButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
}
.removeOldBookmarksPage .deleteBookmarkButtonContainer .deleteBookmarkButton:hover {
  background-color: #383838;
}
/****
* Global
*/
/*****
54.5em width and wider
*****/
@media (min-width: 54.5em) {
  .navHeader .brandLogo .brandLogoSmall {
    display: none;
  }
  .navHeader .brandLogo .brandLogoLarge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*****
54.5em width and less
*****/
@media (max-width: 54.5em) {
  html {
    font-size: 12px;
  }
  .searchPage .navHeader .brandLogo {
    padding-left: 0.6rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .searchPage .navHeader .brandLogo .brandLogoSmall {
    display: none;
  }
  .searchPage .navHeader .rightContainer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .searchPage .navHeader .rightContainer > div {
    padding: 0 0.5rem;
  }
  .searchPage .navHeader .addPageUrls textarea {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .searchPage .navHeader .addPageUrls .addPageButtons {
    font-size: 1.8rem;
  }
  .searchPage .navHeader .addPageUrls .progressInfo {
    font-size: 1.6rem;
  }
  .searchPage .navHeader .dateFilterSettings {
    font-size: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }
  .searchPage .navHeader .dateFilterSettings .formplate-select select {
    padding-right: 38px;
  }
  .searchPage .navHeader .dateFilterSettings .fromContainer > span {
    width: 5rem;
  }
  .searchPage .navHeader .dateFilterSettings .toContainer > span {
    width: 3.1rem;
  }
  .searchPage .navHeader .dateFilterSettings .shortcutsContainer {
    border-left-width: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-top-width: 1px;
    border-top-color: #3498DB;
    border-top-style: solid;
  }
  .searchPage #resultsOuterContainer {
    margin-top: 84px;
  }
  .searchPage #resultsCount {
    font-size: 1.3rem;
  }
  .searchPage #resultsContainer {
    -ms-flex-preferred-size: 58rem;
        flex-basis: 58rem;
  }
  .searchPage .mainResultLink {
    font-size: 1.9rem;
  }
  .searchPage .mainResultLink .material-icons {
    top: -1.1rem;
  }
  .searchPage .resultUrlText {
    font-size: 1.1rem;
  }
  .searchPage .safeBrowsing {
    font-size: 1.3rem;
  }
  .searchPage .description {
    font-size: 1.3rem;
  }
  .searchPage .metaIcons a {
    font-size: 2.4rem;
  }
  .removeOldBookmarksPage .removeBookmarksContainer {
    font-size: 1.4rem;
  }
  .removeOldBookmarksPage .removeBookmarksContainer .deleteBookmarkButton {
    height: 2.8rem;
    ont-size: 1.2rem;
  }
}
/*****
40em width and less
*****/
@media (max-width: 40em) {
  .searchPage .navHeader .brandLogo .brandLogoSmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .searchPage .navHeader .brandLogo .brandLogoLarge {
    display: none;
  }
  .removeOldBookmarksPage .removeBookmarksContainer #rowsUl {
    max-width: none;
  }
}
/*****
36em width and less
*****/
@media (max-width: 36em) {
  .searchPage .navHeader .addPageUrls .progressInfo {
    font-size: 1rem;
  }
  .searchPage .navHeader .dateFilterSettings {
    height: 140px;
  }
  .searchPage .navHeader .dateFilterSettings .fromToContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .searchPage .navHeader .dateFilterSettings .toContainer {
    margin-top: 2px;
  }
}
/*****
35.8em width and less
*****/
@media (max-width: 35.8em) {
  .searchPage .searchPage #resultsContainer {
    margin: 0 3rem;
  }
}
/*****
32.1em width and less
*****/
@media (max-width: 32.1em) {
  .searchPage .searchPage #resultsContainer {
    margin: 0 2rem;
  }
  .removeOldBookmarksPage .navHeader .brandLogo a h1 {
    font-size: 1.8rem;
  }
}
/*****
28.6em width and less
*****/
@media (max-width: 28.6em) {
  .searchPage .navHeader .searchContainer {
    padding: 0 0 0 0.3rem;
  }
  .searchPage .navHeader .brandLogo {
    display: none;
  }
  .searchPage .navHeader #searchForm > input {
    font-size: 1.4rem;
  }
  /*****
    Prevent auto-zoom into the textarea
  */
  .searchPage #resultsCount {
    font-size: 1rem;
  }
  .searchPage .mainResultLink {
    font-size: 1.2rem;
  }
  .searchPage .mainResultLink .material-icons {
    top: -1.2rem;
  }
  .searchPage .resultUrlText {
    font-size: 0.6rem;
  }
  .searchPage .safeBrowsing {
    font-size: 0.8rem;
  }
  .searchPage .safeBrowsing .material-icons {
    font-size: 1.2rem;
    padding-top: 0.1rem;
  }
  .searchPage .description {
    font-size: 0.75rem;
  }
  .searchPage .metaIcons a {
    font-size: 1.8rem;
  }
  .removeOldBookmarksPage .navHeader .brandLogo a h1 {
    font-size: 1.6rem;
  }
}
/*****
22.5em width and less
*****/
@media (max-width: 22.5em) {
  .searchPage .navHeader .searchContainer {
    -ms-flex-preferred-size: 14rem;
        flex-basis: 14rem;
  }
  .searchPage .navHeader .searchContainer #searchInput {
    -ms-flex-preferred-size: 16rem;
        flex-basis: 16rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .bookmarkletPage .navHeader .brandLogo a h1 {
    font-size: 2rem;
  }
}
#notie-alert-outer {
  min-height: 85px;
}
.notie-alert-error {
  background-color: #F1C40F !important;
}
.notie-alert-success {
  background-color: #2670A2 !important;
}
#notie-confirm-inner {
  background-color: #3498DB !important;
}
#notie-confirm-yes {
  background-color: #F1C40F !important;
}
#notie-confirm-yes:hover #notie-confirm-yes-text {
  color: #2670A2 !important;
}
#notie-confirm-no {
  background-color: #34495E !important;
}
#notie-confirm-no:hover #notie-confirm-no-text {
  color: #2670A2 !important;
}
.protip-container {
  z-index: 500;
}
.protip-skin-default--scheme-pro.protip-container {
  background: #77BBEB !important;
}
*[data-pt-position="top-left"] .protip-arrow,
*[data-pt-position="top"] .protip-arrow,
*[data-pt-position="top-right"] .protip-arrow {
  border-color: #77BBEB transparent transparent transparent !important;
}
*[data-pt-position="bottom-left"] .protip-arrow,
*[data-pt-position="bottom"] .protip-arrow,
*[data-pt-position="bottom-right"] .protip-arrow {
  border-color: transparent transparent #77BBEB transparent !important;
}
*[data-pt-position="left-top"] .protip-arrow,
*[data-pt-position="left"] .protip-arrow,
*[data-pt-position="left-bottom"] .protip-arrow {
  border-color: transparent transparent transparent #77BBEB !important;
}
*[data-pt-position="right-top"] .protip-arrow,
*[data-pt-position="right"] .protip-arrow,
*[data-pt-position="right-bottom"] .protip-arrow {
  border-color: transparent #77BBEB transparent transparent !important;
}
*[data-pt-position="top-left-corner"] .protip-arrow {
  border-color: transparent #77BBEB transparent transparent !important;
}
*[data-pt-position="top-right-corner"] .protip-arrow {
  border-color: #77BBEB transparent transparent transparent !important;
}
*[data-pt-position="bottom-left-corner"] .protip-arrow {
  border-color: transparent transparent #77BBEB transparent !important;
}
*[data-pt-position="bottom-right-corner"] .protip-arrow {
  border-color: transparent transparent transparent #77BBEB !important;
}

/*# sourceMappingURL=styles.css.map */
