extends layout
block vars
  - var bodyClass = 'bookmarkletPage';
block content
  #bookmarkletPageContainer
    //a(href=#{bookmarkletHref})
    p Bookmark the link below
    a#bookmarkletLink(href="") Save To MarkSearch

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/js/bookmarkletPage-bundle.js')