doctype html
html
  block vars
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', context='ie=edge')
    meta(name='description', content='MarkSearch, a bookmarking app')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    if bodyClass === 'searchPage'
      link(rel='stylesheet', href='/bower_components/protip/protip.min.css')
    link(rel='stylesheet', href='/stylesheets/formplate.css')
    if bodyClass === 'settingsPage'
      link(rel='stylesheet', href='/bower_components/buttonplate/css/buttonplate.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body(class='#{bodyClass}')
    include ./nav.jade
    block content

