extends layout
block vars
  - var bodyClass = 'removeOldBookmarksPage';
block content
  input#csrfInput(type="hidden", name="_csrf", value="#{csrfToken}")
  .removeBookmarksContainer
    ul#rowsUl


  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/buttonplate/js/min/buttonplate.js')
  script(type='text/javascript').
    var rows = !{rows}
  script(src='/js/removeOldBookmarksPage-bundle.js')