extends layout
block vars
  - var bodyClass = 'searchPage';
block content
  #resultsOuterContainer
    #resultsContainer
      #resultsCount

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/protip/protip.min.js')
  script(src='/bower_components/modernizer/modernizr.js')
  script(src='/bower_components/Formplate/js/formplate.js')
  script(src='/js/searchPage-bundle.js')

  // hack to get formplate font to load at startup,
  // rather than when the date filter shows
  .formplate-select#formplateFontHack