extends layout
block vars
  - var bodyClass = 'settingsPage';
block content
  #settingsContainer

    .settingsHeader Changes Are Automatically Saved

    .settings
      input#csrfInput(type="hidden", name="_csrf", value="#{csrfToken}")
      .prebrowsingSettingContainer
        .formplate
          input#prebrowsingCheckbox(type="checkbox", name="prebrowsingCheckbox")
          label(for="prebrowsingCheckbox") Prebrowsing
        .settingDetail.
          When enabled, the first two results will have prebrowsing applied to them.
          Prebrowsing can make bookmark links load faster when you click on
          them from the search page. (The first result will have "preconnect" applied, while the second
          result will have "dns-prefetch" applied. More info <a target="_blank" href='http://blog.cloudimage.io/2015/10/19/what-is-prebrowsing-and-how-it-can-drastically-improve-your-page-loading-time/'>here</a>)
      .genTokenOuterContainer
        .genTokenContainer
          a#browserAddonTokenButton.button.black.square(href="#") Generate Browser Token
          .formplate
            input#browserAddonTokenText.square(type="text", name="browserAddonTokenText")
            a.clipBoardButton.button.square(data-clipboard-target="#browserAddonTokenText")
              img(src="images/clippy.svg", alt="Copy to clipboard")
        .settingDetail.
          This token is used in the MarkSearch browser extension. More info info
          is available on the <a href="/help#browserAddon">HelpPage</a>
      .dbLocationContainer
        .currentLocation
          span Current Database Location:
          span.locationText
        //#dragAndDropContainer
        //  #dragAndDrop Drag Folder Here
        .changeDBLocationButtonContainer
          input#changeDBLocationInput(type="file" webkitdirectory directory)
          a#changeDBLocationButton.button.black.square(href="#") Change Directory
        .settingDetail.
          You can change where your MarkSearch database is stored. This is useful for
          if you want to have your bookmarks automatically backed up (e.g. putting them in
          a Dropbox folder). <strong>Note: if you already have a
          folder named "marksearchdb" in that directory, it will overwrite that folder.</strong>


  #formPlateFontHack.formplate
    .formplate-checkbox.checked

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/Formplate/js/formplate.js')
  script(src='/bower_components/buttonplate/js/buttonplate.js')
  script(src='/bower_components/clipboard/dist/clipboard.min.js')
  script(type='text/javascript').
    var markSearchSettings = !{markSearchSettings}
  script(src='/js/settingsPage-bundle.js')

//.bookmarkletContainer
//  .genTokenContainer
//    a#bookmarkletButton.button.black.square(href="#") Generate Bookmarklet
//    .formplate
//      input#bookmarkletText.square(type="text", name="bookmarkletText")
//      a.clipBoardButton.button.square(data-clipboard-target="#bookmarkletText")
//        img(src="images/clippy.svg", alt="Copy to clipboard")
//  .settingDetail.
//    This javascript is used in the MarkSearch bookmarklet. More info info
//    is available on the <a href="/help_about#bookmarklet">Help & About Page</a>