doctype html
html
  head
    title MarkSearch Settings Page
    meta(charset='utf-8')
    meta(name='description', content='MarkSearch, a bookmarking app')
    link(rel='stylesheet', href='#{appPath}/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='#{appPath}/appmodules/electron/css/styles.css')
  body(class='#{bodyClass}')
    h1 JADE


    script.
      require('electron-connect').client.create()
    script(src='#{appPath}/appmodules/electron/settings.js')